.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  
  .game-board {
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .board-row {
    display: flex;
    flex-direction: row;
  }
  
  .square {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .status {
    margin-bottom: 10px;
  }
